@charset "utf-8";
/* CSS Document */
body{
	margin:0px;
	padding:0px;
}

.wel{
	background-color: #1e1e26;
	margin: 0%;
	padding: 70px;
}

.wel{
	text-align: center;
	font-size: 60px;
    color: whitesmoke;
    background:url(../img/logo.png) no-repeat left, #1e1e26 ;
    background-blend-mode: color;
}

@import url(https://allfont.net/allfont.css?fonts=masked-marvel);


.h1{
    font-family: 'Masked Marvel';
    font-size: 50px;
    text-align: center;
    line-height: 0;
    letter-spacing: 0.464em;
    margin: 30px;
}

